TZ=Europe/Berlin

DB_NAME=openbiblio
DB_USER=openbiblio
DB_PASSWORD=openbiblio
MYSQL_ROOT_PASSWORD=rootpassword

DB_LOCALE=de
INSTALL_TEST_DATA=no

OBIB_UPGRADE_KEY=Your_own_Upgrade_Key
OBIB_PWD_FORGOTTEN_KEY=Another_Upgrade_Key
